*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #EAEAEA;
}

/* main{
    padding: 24px 25px 37px 25px;
    width: 100%;
    height: 100vh;
} */

.head-div{
    padding: 12px;
}

.head{
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 30px;
    display: block;
}

.profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.head2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 12px;
}

/* .form-user{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
} */



header{
    display: none;
}

.user-image{
    width: 56px;
}

.user{
    display: flex;
    flex-direction: row;
    padding: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.user-name{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.user-box{
    display: grid;
    padding-bottom: 15px;
    padding-top: 30px;
}

.box-lebel{
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    
}

.box-input{
    height: 40px;
    width: 270px; 
    color: #23242599;
    padding: 20px;
    border-radius: 8px;
    outline: none;
}

.changes-div{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.changes-changes{
    background-color: #A6E4EC;
    border-radius: 8px;
    padding: 10px 20px;
    color: #333;
    font-size: 18px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #0A4D56;
}

.set{
    background: white;
    font-weight: 700;
    width: 90%;
}

.pass{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.form-password{
    padding: 12px;
}

/* .password{
    width: 95%;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


.password-box{
    width: 95%;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    display: flex;
    gap: 15px;
}

.password input[type=password]{
    outline: none;
    appearance: none;
    border: none;
    background: none;
}

.password{
    display: flex;
    align-items: center;
    border: 2px solid #A8A8A8;
    border-radius: 8px;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 25px;
}

.profile-icon-icon{
    display: none;
}

.container-index{
    display: none;
}

/* .form-user-div{
    display: none;
} */

.form-user{
    padding-left: 10px;
}

@media screen and (min-width: 760px){

    header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

    .head{
        padding-bottom: 40px;
        padding-top: 20px;
        display: none;
        font-size: 30px;
    }

    .head-div{
        padding-bottom: 40px;
        padding-top: 20px;
        display: none;
        display: flex;
        justify-content: right;
        padding-right: 20px;
        align-items: center;
        text-align: center;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 9px;
    }

    .profile-icon{
        display: flex;
        gap: 9px;
    }


    .user-name{
        display: grid;
        padding-bottom: 15px;
        padding-top: 30px;
    }

    .box-input{
        border: 1px solid black;
    }

    .password{
        width: 45%;
    }

    main{
        padding-left: 25px;
    }

    .set{
        background: inherit;

    }

    .form-user-div{
        display: grid;
        gap: 18px;

    }

    .form-user-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        gap: 7px;
        
    }

    /* .changes-div{
        padding-left: 10px;
    } */

    /* .changes-div{
        padding: 15px;
    }

    .user-box{
        padding: 15px;
    } */

    /* .user-box{
        display: grid;
        padding-bottom: 15px;
        padding-top: 30px;
    }
    
    .box-lebel{
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
        
    }
    
    .box-input{
        height: 40px;
        width: 270px; 
        color: #23242599;
        padding: 20px;
        border-radius: 8px;
        outline: none;
    } */


    
    
    /* .password input[type=password]{
        outline: none;
        appearance: none;
        border: none;
        background: none;
    }
    
    .password{
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: space-between;
        padding: 80px;
        height: 100%;
        width: 180%;
        margin-bottom: 25px;
    
    }

    .profile-icon-icon{
        display: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: left;
        padding-left: 45%;
        gap: 9px;
    }

    .password-box-box{
        width: 95%;
        
        font-size: 80px;
        font-weight: 400;
        margin: 5px 0;
        display: flex;
        gap: 15px;
    } */

    /* .form-password{
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: column;
    } */

    /* .password-pass{
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: space-between;
        padding: 16px;
        margin-bottom: 25px;
    }
    
    .password input[type=password]{
        outline: none;
        appearance: none;
        border: none;
        background-color: darkturquoise;
        background-color: red;
        background: none;
    }

    .password-box{
        width: 95%;
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
        display: flex;
        gap: 15px;
    }
    
    .password input[type=password]{
        outline: none;
        appearance: none;
        border: none;
        background: none;
    }
    
    .password{
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: space-between;
        padding: 14px;
        height: 30%;
        width: 23%;
        margin-bottom: 25px;
    
    }


    .container-index{
        width: 50%;
        min-width: 250px;
        max-width: 300px;
        height: 180px;
        text-align: center;

    }
    
    .form-index{
        border-radius: 20px;
        position: relative;
    }
    
    .h1-index{
        color: white;
        padding: 15px;
        text-shadow: 2px 2px 2px black;
    }
    
    .input-index{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 25px;
        font-size: 20px;
        padding: 8px 40px 8px 20px;
        border: none;
        box-shadow: 0 1px 1px 2px black;
    }
    
    .input-index:focus{
        outline: none;
    }
    
    .button-index{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        border-radius: 20%;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 18px;
    
    }
    


     */

}
